<div class="flex justify-center">
  <form class="bg-white flex flex-col p-2 w-96 shadow-2xl" [formGroup]="loginForm">
    <label for="email" class="p-2 text-left">Email address</label>
    <input type="text" class="border-2 p-4" id="email" name="email" formControlName="email">

    <p
      *ngIf="loginForm.controls.email.dirty && loginForm.controls.email.hasError('required')"
      class="mt-1 text-right text-red"
    >
      This field is required
    </p>

    <label for="password" class="p-2 text-left">Password</label>
    <input type="password" class="border-2 p-4" id="password" name="password" formControlName="password">

    <p
      *ngIf="loginForm.controls.password.dirty && loginForm.controls.password.hasError('required')"
      class="mt-1 text-right text-red"
    >
      This field is required
    </p>

    <button type="submit" class="bg-green mt-4 p-4 color-white font-medium uppercase" (click)="onSubmit()">Log in</button>
  </form>
</div>
